header,
footer {
    margin: 0 auto;
    border: 1px solid #da8a0b;
    
    background-color: #da8a0b;
    align-items: center;
    max-width: 540px;
    border-radius: 10px;
}

header {
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: 'Archivo', sans-serif;
    padding: .5rem;
    
}
footer {
    text-align: center;
}

header h1 {
    justify-self: center;
}

footer h2 {
    padding: 0px;
}

/* figure {
    display: flex;
    align-items: center;
    margin: 3px;
  }
figcaption {
    margin: 20px;
    font-size: 30px;
} */

  body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

main {
    max-width: 500px;
    margin: 1rem auto;
    /* background-color: #c43535cc; */
    padding: 1rem;
    font-family: 'Archivo', sans-serif;
}

@media (min-width: 32.5em) {
    header {
    background-color: #310bda;
    }
}

@media (min-width: 50em) {
    header {
    background-color: #da0b84;
    }
}

