/* @media (min-width: 37.5em) { */
    @media (min-width: 41.5em) {

    /* Flex *********************/


    .join {
        display: inherit;
        order: 3;
        grid-column: 1/4;
    }

    .hero {
        order: 0;
        grid-column: 1/4;
    }

    .news {
        order: 1;
        grid-column: 1/4;
    }

    .event {
        order: 4;
        grid-column: 1/3;
        /* width: auto; */
    }

    .weather {
        order: 5;
        grid-column: 3/4;
        width: auto;
    }


    .placeholderBoxesSpotlight {
        flex-direction: inherit;
        order: 2;
        grid-column: 1/4;
    }


    /* discovery page specific*/
    .discoveryImages {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr;
    }

    .discoveryImages figure {
        margin-left: .5em;
        margin-right: .5em;
    }

    .discoveryImages img:hover {
        box-shadow: .5em .5em .3em grey;
    }


    .getInfo {
        grid-column: 1/2;
        justify-self: center;
    }

    .membershipInfo, .contactInfo {
        grid-column: 2/3;
        height: fit-content;
    }

    h1 {
        text-align: center;
    }

    .thankyouText{
        justify-self: center;
    }

    /* directory specific */
.cards section, .cards section p {
    max-width: 23em;
}

}



