/* @media (min-width: 55em) { */
@media (min-width: 60em) {



    .homePage p {
        font-size: larger;
    }

    .hero {
        display: grid;
    }

    .hero img {
        grid-column: 1/2;
    }

    .templeInfo {
        grid-column: 2/3;
    }

    .extraFutureWeather {
        display: inherit;
    }

    .futureWeatherInner {
        display: flex;
        align-items: center;
    }

    .templeServices,
    .templeInfoBasics {
        grid-column: 1/1;
    }

    .serviceForm {
        justify-content: left;
    }

    .serviceButton {
        width: auto;
        font-size: 2em;
    }

    .services {
        display: grid;
    }

    .serviceList {
        font-size: larger;
    }

    .serviceList li {
        margin: .6em;
    }

    .service1 {
        grid-column: 1/2;
        display: flex;
    }

    .service2 {
        grid-column: 2/3;
        display: flex;
        justify-self: baseline;
    }

    .hero img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .navigation li,
    .navigation {
        display: flex;
        vertical-align: middle;
    }

    .navigation li:first-child {
        display: none;
    }

    .subMenu {
        display: flex;
    }

    .subMenu li:first-child,
    .subMenu li {
        display: block;

    }

    .buttonMargin {
        margin: auto;
    }

}

@media (min-width: 70em) {

    /* discovery page specific*/
    .reservationButton {
        display: inherit;
    }

    .subPageButton,
    .reservationButton {
        font-size: x-large;
    }
}